---
const {src, alt, title, text, href} = Astro.props;
---

<article class="text-[var(--bg-dark)] min-w-72 max-w-80 py-10 px-[5%] grid gap-4 text-center rounded-[2rem] duration-300">
    <picture class="grid w-32 h-32 m-auto overflow-hidden rounded-full">
        <img class="h-full w-full object-top object-cover m-auto duration-300" src={src} alt={alt}>
    </picture>
    <h2 class="text-[var(--bg-dark)] text-3xl font-bold">{title}</h2>
    <p class="text-[var(--color-disable-dark)]">{text}</p>
    <a href={href} class="py-2 px-4 bg-[var(--accent-dark)] rounded-3xl scale-100 duration-300">
        <slot />
    </a>
</article>

<style>
    article{
        box-shadow: 0px 0px 5px 0.5px;
        transform: translateY(0);
    }

    article:hover{
        box-shadow: 3px 3px 5px 2px;
        transform: translateY(-5px);
    }

    picture:hover img{
        transform: scale(1.2);
    }

    a:active {
        transform: scale(0.9);
    }
</style>